<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding 
            name="BasicBindingUserPassword_IServiceNetBase"
            hostNameComparisonMode="StrongWildcard"
            maxReceivedMessageSize="50000000">
          <security mode="TransportWithMessageCredential" />
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="BindingUserPassword_IServiceNetBase">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://online.incom.pl/NBWebServiceIT/service.svc"
        binding="wsHttpBinding" bindingConfiguration="BindingUserPassword_IServiceNetBase"
        contract="Incom.IServiceNetBase" name="BindingUserPassword_IServiceNetBase" />
      <endpoint address="https://online.incom.pl/NBWebServiceIT/service.svc/basic"
        binding="basicHttpBinding" bindingConfiguration="BasicBindingUserPassword_IServiceNetBase"
        contract="Incom.IServiceNetBase" name="BasicBindingUserPassword_IServiceNetBase" />
    </client>
  </system.serviceModel>
</configuration>